<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://38sr.com" target="_blank" title="38锶">38锶</a></li> 
      <li><a href="https://www.digitalocean.com/?refcode=0f682e48abe3" target="_blank">DigitalOcean</a></li>
      <li><a href="https://esonzys.github.io" target="_blank">esonzys's blog</a></li>
    </ul>
</div>
