	<% if	(theme.google_cse.enable){ %>
	<form class="search" action="<%- config.root %>search/index.html" method="get" accept-charset="utf-8">
		<label>Search</label>
		<input type="search" id="search" autocomplete="off" class="form-control" name="q" maxlength="20" placeholder="Search" />
	</form>
	<% } else { %>
	<form class="search" action="//google.com/search" method="get" accept-charset="utf-8">
		<label>Search</label>
		<input type="search" id="search" class="form-control inputsty" name="q" autocomplete="off" maxlength="20" placeholder="Search" />
		<input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
	</form>
	<% } %>  