BODY {
	HEIGHT: 3600px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  display: none;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,0.15);
}
::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
  background: url("/img/scrollbar_arrow.png") no-repeat 0 0;
}
::-webkit-scrollbar-button:start:hover {
  background: url("/img/scrollbar_arrow.png") no-repeat -15px 0;
}
::-webkit-scrollbar-button:start:active {
  background: url("/img/scrollbar_arrow.png") no-repeat -30px 0;
}
::-webkit-scrollbar-button:end {
  width: 10px;
  height: 10px;
  background: url("/img/scrollbar_arrow.png") no-repeat 0 -18px;
}
::-webkit-scrollbar-button:end:hover {
  background: url("/img/scrollbar_arrow.png") no-repeat -15px -18px;
}
::-webkit-scrollbar-button:end:active {
  background: url("/img/scrollbar_arrow.png") no-repeat -30px -18px;
}
#goTopBtn {
	 POSITION: fixed;
	 TEXT-ALIGN: center;
	 LINE-HEIGHT: 30px;
	 WIDTH: 30px; 
	 BOTTOM: 35px;
	 HEIGHT: 33px;
	 margin-right: 120px;
 	 FONT-SIZE: 12px;	
	 CURSOR: pointer; 
	 RIGHT: 0px; 
	 _position: absolute;
	 _right: auto
}
#displayside {
	 POSITION: fixed;
	 TEXT-ALIGN: center;
	 LINE-HEIGHT: 30px;
	 WIDTH: 30px; 
	 BOTTOM: 75px;
	 HEIGHT: 33px;
	 margin-right: 120px;
 	 FONT-SIZE: 12px;	
	 CURSOR: pointer; 
	 RIGHT: 0px; 
	 _position: absolute;
	 _right: auto

}
.am-pagination{
	margin-left: 0px !important;
}
.am-pagination>li>a, .am-pagination>li>span{
	padding: 10px 22px !important;
}